
.navbar, footer {
  background-color: #ACD143;
}

.jumbotron {
  background: url('../images/lindsay-moe.jpg') center;
  background-size: cover;
  height: 100vh;
}

.gallery-section img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.menu-section img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}
